
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #5f696e;
  color: #ddd;
}

.page-header h1 {
  font-size: 280%;
}

.page-header h1 a {
  color: #222;
}

.gh-btns {
  height: 30px;
}

.paper {
  position: relative;
  width: 600px;
  height: 320px;
  background-color: #ddd;
  margin-top: 10px;
  margin-bottom: 25px;
}

.paper .qr_address_paper {
  position: absolute;
  top: 50;
  left: 120;
}

.paper h4 {
  padding-top: 20px;
}

.mousemsg {
  opacity: 0.4;
}

.pulsate {
  -webkit-animation: pulsate 0.8s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% { opacity: 0.4; }
    50% { opacity: 1.0; }
    100% { opacity: 0.4; }
}

.after, .init, .my {
  display: none;
}

.my input {
  text-align: center;
}

.secret, .address {
  text-align: center;
  font-weight: bold;
}

.address {
  font-size: 200%;
}

.secret {
  font-size: 150%;
}

.keys {
  opacity: 0.5;
}

.qr {
  margin: 20px 0;
}

.ms {
  font-family: monospace;
  word-wrap: break-word;
}

.progress-bar {
  background-image: none;
  background-color: #0288d1;
}

.ball, .ball2 {
  position: absolute;
  background-color: #0288d1;
  width:  8px;
  height: 8px;
  border-radius: 20px;
}

.ball {
  animation: anim 1s;
  opacity: 0;
}

.ball2 {
  animation: anim2 1s;
  opacity: 0.1;
}

@keyframes anim
{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -10px;
    left: 50%;
  }
}

@keyframes anim2
{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
