doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title liskpaperwallet.com
    meta(name='description', content='Paper wallet generator for Lisk cryptocurrency.')
    meta(name='keywords', content='lisk,paperwallet,paper,wallet,cryptocurrency,lisk.io,crypti')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='third-party/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/index.css')
  body(ng-controller='main', ng-cloak)
    .container-fluid
      .row.noprint
        .col-md-12
          .page-header.text-center
            h1
              a(href='index.html') Lisk Paper Wallet
              = ' '
              small v1.1.0
            h5
              = 'Unofficial paper wallet generator for '
              a(href='http://lisk.io', target='blank') Lisk
              = ' cryptocurrency. '
              = 'Hosted by Github Pages. Source code is available '
              a(href='https://github.com/rferro/liskpaperwallet', target='blank') here
              = '.'
            h5
              = 'We recommended use this tool offline: '
              a.alert-link(href='https://github.com/rferro/liskpaperwallet/archive/master.zip') download
              = ' the source code and open index.html in your browser without internet access.'

      entropy
      wallet
      #preload

    script(type='text/ng-template', id='entropy')
      .row.noprint.btns
        .col-md-12.text-center
          button.btn.btn-info.btn_random(type='button', ng-click='random.start()', ng-disabled='btn_disabled') Create a random wallet
          button.btn.btn-info(type='button', ng-click='enter.start()', ng-disabled='btn_disabled') Enter your passphrase
      .row.noprint(ng-show='enter.started')
        .col-md-12.text-center
          .form-group: input.form-control.input-lg.text-center.input_passphrase(type='text', placeholder='enter your passphrase here', ng-model='enter.value', ng-keyup='enterKeyUp($event)')
          button.btn.btn-default.btn_generate(ng-disabled='!enter.valid', ng-click='enterGenerate()') Generate
      .row.noprint
        .col-md-12(ng-show='random.started')
          h4.text-center.pulsaste Move your mouse to generate random bytes
          uib-progressbar(max='100', value='random.progress')
          .bytes.text-center
            byte(ng-repeat='byte in random.tmp track by $index', ng-data='byte', animate-on-change='byte')

    script(type='text/ng-template', id='byte')
      .hex(ng-bind='hex')
      .dec(ng-bind='dec')

    script(type='text/ng-template', id='wallet')
      .row.noprint.loading
        .col-md-12
          .cssload-loader
      .row.noprint.after
        .col-md-12
          .panel.panel-danger
            .panel-heading: h3.panel-title.text-center Secret Passphrase (KEEP SAFE)
            .panel-body.text-center
              span.hash.passphrase(ng-bind='data.passphrase', clipboard)
      .row.noprint.after
        .col-md-12
          .panel.panel-success
            .panel-heading: h3.panel-title.text-center Public Address (SHARE)
            .panel-body.text-center
              span.hash.address(ng-bind='data.address', clipboard)
      .row.noprint.after
        .col-md-12
          ul.list-group.data
            li.list-group-item
              span.badge entropy
              span.hash(ng-bind='data.entropy', clipboard)
            li.list-group-item
              span.badge seed
              span.hash(ng-bind='data.seed', clipboard)
            li.list-group-item
              span.badge passphrase sha256
              span.hash(ng-bind='data.hash', clipboard)
            li.list-group-item
              span.badge public key
              span.hash(ng-bind='data.publicKey', clipboard)
            li.list-group-item
              span.badge private key
              span.hash(ng-bind='data.privateKey', clipboard)
      .row.noprint.after
        .col-md-6.text-center
          h3
            = 'Public Address '
            small SHARE
          qrcode(data='data.address', size='280')
        .col-md-6.text-center
          h3
            = 'Secret Passphrase '
            small KEEP SAFE
          qrcode(data='data.passphrase', size='280')
      .row.after
        .col-md-12.text-center
          h2.noprint Paper Wallet
          .papers.noprint
            .btn-group.btn-group-xs
              button.btn(ng-repeat='(id, art) in arts', ng-bind='id', ng-click='set_art(id)', ng-class="{ 'btn-warning': id === art_active }", ng-if='id > 0')
            input.show-amount(type='checkbox', ng-model='amount')
            span= ' Box to write amount'

      .row.after
        .col-md-12.text-center
          .paper-wrapper.center-block(ng-style='{ width: art.width, height: art.height }')
            .paper(ng-style='{ width: art.width, height: art.height }')
              img(ng-src="images/{{ art.image }}{{ amount ? 'a' : '' }}.png")
              qrcode(data='data.address', size='art.address.qr.size', ng-style='art.address.qr')
              qrcode(data='data.passphrase', size='art.passphrase.qr.size', ng-style='art.passphrase.qr')
              .address(ng-bind='data.address', ng-style='art.address.text')
              .address_label(ng-hide='art.address.label.hide', ng-style='art.address.label') public address
              .passphrase(ng-bind='data.passphrase', ng-style='art.passphrase.text')
              .passphrase_label(ng-hide='art.passphrase.label.hide', ng-style='art.passphrase.label') secret passphrase
              .amount_label(ng-show='amount', ng-style='art.amount.label') amount:

      .row.noprint.after
        .col-md-12.text-center
          button.btn.btn-warning(type='button', ng-click='print()')
            span.glyphicon.glyphicon-print(aria-hidden='true')
            = ' Print Paper Wallet'


    a.github-corner(href='https://github.com/rferro/liskpaperwallet', title='Fork me on GitHub')
      svg(width='75', height='75', viewBox='0 0 250 250')
        path(d='M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z')
        path.octo-arm(d='M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2', fill='currentColor')
        path.octo-body(d='M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z', fill='currentColor')

    script(src='third-party/jquery/dist/jquery.min.js')
    script(src='third-party/jquery-qrcode/dist/jquery.qrcode.min.js')
    script(src='third-party/angular/angular.min.js')
    script(src='third-party/angular-animate/angular-animate.min.js')
    script(src='third-party/bootswatch-dist/js/bootstrap.min.js')
    script(src='third-party/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='lib/liskwallet.js')
    script(src='lib/index.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75892665-1', 'auto');
      ga('send', 'pageview');
